@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    background-color: #38103D;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    margin-top: 20px;
}

main {
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 16rem;
    font-weight: bold;
    text-align: center;
    color: #FFAF3E;
}

#timer-message {
    margin: 0 auto;
    width: fit-content;
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

footer {
    text-align: center;
}

footer img {
    width: 100%;
}