html {
    background-color: #38103D;
}

header {
    text-align: center;
    margin-top: 20px;
}

main {
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 72rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}

footer {
    text-align: center;
    padding: 20px;
}

footer img {
    width: 200px;
    height: 200px;
}